/* Estilo base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  body {
    background-color: #f9f9f9;
    line-height: 1.6;
    padding: 20px;
    
  }
  
  /* Cabecera principal */
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
 h1 {
    font-size: 2.5em;
    color: #4a90e2;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 1.1em;
    color: #666;
  }
  
  .listaEstilos {
    padding-left: 20px;
  }
  
  /* Contenedor principal */
  main {
    max-width: 95%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Sección de cada etiqueta */
  section {
    padding: 15px;
    margin-top: 35px;
    border-left: 4px solid #4a90e2;
    background-color: #f7faff;
    border-radius: 4px;
  }
  
 h2 {
    color: #4a90e2;
    margin-bottom: 8px;
    font-size: 1.6em;
  }
  
  p {
    margin-bottom: 8px;
  }
  
  /* Ejemplos de código */
  pre {
    background-color: #eaeff5;
    padding: 10px;
    border-radius: 4px;
    font-family: Consolas, "Courier New", monospace;
    font-size: 0.9em;
    color: #333;
    overflow-x: auto;
  }
  
  /* Pie de página */
  footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 0.9em;
    color: #888;
  }
  
  footer p {
    font-size: 1em;
  }
  
  /* Estilo para la tabla de atributos */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  table th,
  table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: #4a90e2;
    color: #fff;
    font-weight: bold;
  }
  
  table tr:hover {
    background-color: #f1f1f1;
  }
  
  table caption {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #4a90e2;
  }
  
  code {
    background-color: #f3f4f6;
    color: #d63384;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 0.95em;
    font-family: Consolas, "Courier New", monospace;
  }
  
  .collapsible-section {
    margin-bottom: 10px;
  }
  
  /* Ocultar contenido por defecto */
  .section-content {
    display: none;
  }
  
  /* Estilos para el encabezado */
  .section-header {
    display: block;
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #ddd;
  }



details summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none; /* Oculta la flecha en navegadores basados en WebKit */
}

details summary::marker {
  display: none; /* Oculta la flecha en otros navegadores compatibles */
}

  